<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="card" style="max-width: 420px; margin: 60px auto">
            <h2 style="margin: 0 0 12px">Login</h2>

            <% if (error) { %>
                <div style="
            padding: 10px 12px;
            border: 1px solid #fecaca;
            border-radius: 10px;
            background: #fff1f2;
            margin-bottom: 12px;
          ">
                    <strong>Error:</strong>
                    <%= error %>
                </div>
                <% } %>

                    <form method="post" action="/login">
                        <div style="margin-bottom: 12px">
                            <label>Username</label>
                            <input name="username" required />
                        </div>
                        <div style="margin-bottom: 12px">
                            <label>Password</label>
                            <input type="password" name="password" required />
                        </div>
                        <button class="btn primary" type="submit">Login</button>
                    </form>
        </div>
    </div>
</body>

</html>