version: '3.8'

services:
  # Dịch vụ DynamoDB Local
  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  # Giao diện Web GUI (dynamodb-admin)
  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    container_name: dynamodb-admin
    ports:
      - "8001:8001"
    environment:
      - DYNAMO_ENDPOINT=http://dynamodb-local:8000
      - AWS_REGION=us-west-2
      - AWS_ACCESS_KEY_ID=local
      - AWS_SECRET_ACCESS_KEY=local
    depends_on:
      - dynamodb-local
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"   # Cổng API (Code gọi vào cổng này)
      - "9001:9001"   # Cổng Console (Bạn vào web bằng cổng này)
    environment:
      - MINIO_ROOT_USER=admin       # Tương tự AWS_ACCESS_KEY_ID
      - MINIO_ROOT_PASSWORD=password123 # Tương tự AWS_SECRET_ACCESS_KEY
    volumes:
      - "./docker/s3:/data"         # Nơi lưu file trên máy thật
    command: server /data --console-address ":9001"